---
import type { PostWithAuthor } from "../db/model";
import { getRelativeTime } from "../utils";
import OptionsButton from "./options-button.astro";
interface Props {
    post: PostWithAuthor;
}
const { post } = Astro.props;
---

<article
    class="rounded-xl flex flex-col border-blue-200 border py-2 gap-2 relative w-full"
    id={`post-${post.id}`}
>
    <div class="flex gap-2 mx-2 text-blue-200">
        <b class="font-bold">@{post.author.username}</b>
        <span class="text-slate-400">{getRelativeTime(post.created)}</span>
        <div class="flex-grow"></div>
        <div id={"options-container-" + post.id}>
            <OptionsButton postId={post.id} isOpen={false} />
        </div>
    </div>

    <p class="col-span-2 flex-grow mx-2">{post.content}</p>
    <div class="flex justify-start gap-2 mx-2 text-slate-400">
        <div
            class="h-6"
            hx-swap="outerHTML"
            hx-get={`/post/${post.id}/likes`}
            hx-trigger="load"
        >
        </div>
    </div>
</article>
